@import "style.css";

body {
  background: #2b2b2b;
  color: var(--main-color);
  font: 15px sans-serif;
}

#top {
  box-shadow: 0 0 3px black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#top > div {
  padding: 0 1em 1em 1em;
  display: flex;
  background: #242424;
  color: var(--highlight-color);
}
#top > div:first-child {
  padding: 1em;
}

#navbar { line-height: 32px; }
#navbar .logo { margin-right: 1em; }
#navbar a { border-bottom: solid 3px; }

#top ul.items { list-style: none; margin: 0; padding: 0; }
#top ul.items li { display: inline-block; margin-right: 1em; float: left; }
#top ul.items li:last-child { margin-right: 0; }

#main { margin-bottom: 5em; padding: .5em; }

#player { margin-bottom: .5em; }

/* page: commands */
table tr td {
  transition: background-color 1000ms ease-in;
}
table tr.new-item td {
  background-color: #3f714b !important;
  transition: background-color 0ms;
}

@media only screen and (max-width: 920px) {
  #actionbar .btn .txt {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  #navbar ul.items li.greeting { display: none; }
}

.media-holder {
  background: #77746e;
  border-radius: 4px;
  color: var(--main-color);
  padding: 6px 10px;
  border: solid 1px black;
  box-shadow: 0 0 3px rgba(0, 0,0,0.3) inset;
}
