@import "font-awesome-4.7.0/css/font-awesome.min.css";

:root {
  --main-color: #363636;
  --main-background-color: #fff;

  --link-color: #808db0;
  --link-hover-color: #c5cfeb;
  --highlight-color: #dd7e7e;

  --pos-color: #54a454;
  --pos-color-hover: #40e340;
  --neg-color: #8c4747;

  --border-color: black;
  --border-radius: 4px;

  --button-bg-color: #262523;
  --button-border-color: var(--border-color);
  --button-box-shadow-out: 1px 1px 2px rgba(0,0,0,.5);
  --button-box-shadow-in: 0 0 1px rgba(150,150,150,.4) inset;
  --button-box-shadow: var(--button-box-shadow-out), var(--button-box-shadow-in);
  --button-border-radius: var(--border-radius);
  --button-hover-bg-color: #2f2e2c;
  --button-hover-border-color: #111;
  --button-hover-box-shadow: var(--button-box-shadow-in);
  --button-disabled-bg-color: var(--button-hover-bg-color);
  --button-disabled-border-color: var(--button-hover-border-color);
  --button-disabled-box-shadow: var(--button-hover-box-shadow);

  --input-bg-color: #333230;
  --input-border-color: var(--border-color);
  --input-box-shadow: 0 0 3px rgba(0, 0,0,0.3) inset;
  --input-border-radius: var(--border-radius);
  --input-focus-bg-color: #262523;
  --input-focus-border-color: #686767;
}

body { margin: 0; }

/* * { vertical-align: text-bottom; } */
.fa { vertical-align: middle; }

.btn { white-space: nowrap; }

a { color: var(--link-color); text-decoration: none; }
a:hover { color: var(--link-hover-color); }

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40vh;
}

.player { display: inline-block; }

.spacerow { margin-bottom: 5px; }
.spacerow .spacelabel { display: inline-block; width: 120px; }
.spacerow .spaceinput { display: inline-block; width: 200px; }

.flip-horizontal { transform: scaleX(-1); }

.video-16-9 {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-16-9 iframe, .video-16-9 object, .video-16-9 embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  margin-top: -7px;
}

.volume-slider {
  clear: none;
  display: inline-block;
  width: 140px;
  min-width: 100px;
  vertical-align: text-bottom;
}

.volume-slider.control.has-icons-left .icon,
.volume-slider.control.has-icons-right .icon {
  color: var(--main-color);
}

.volume-slider input[type=range]::-ms-track {
  background: var(--link-color);
  height: 2px;
}

.volume-slider input[type=range]::-moz-range-track {
  background: var(--link-color);
  height: 2px;
}

.volume-slider input[type=range]::-webkit-slider-runnable-track {
  background: var(--link-color);
  height: 2px;
}


.upload {
  position: relative;
  display: inline-block;
}
.upload .progress {
  height: 2px;
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  display: block;
  border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
}

#actionbar {
  background: var(--main-background-color);
  flex-wrap: wrap;
}
#actionbar > *:not(:last-child) {
  margin-bottom: 0;
}
