body { margin: 0; background: lime; }
.avatar {
  position: relative;
  width: 256px;
  height: 256px;
}
.avatar .avatar-item {
  position: absolute;
  width: 256px;
  height: 256px;
  left: 0;
  top: 0;
}
