@import "../font-awesome-4.7.0/css/font-awesome.min.css";

body, input, button {
  font-family: monospace;
}
canvas {
  border: solid 1px black;
  margin-bottom: .5em;
}
.bg-white {
  background: white;
}

hr {
  border: solid 1px #ccc;
}

input[type="button"],
button {
  border: solid 2px;
  border-color: #ccc #888 #888 #ccc;
}

input[type="button"]:active,
button:active {
  border: solid 2px;
  border-color: #888 #ccc #ccc #888;
}

.bg-transparent {
  background-image:
  linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
  linear-gradient(to right, black 50%, white 50%),
  linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 2em 2em;
}

.square { display: inline-block; padding: 1px; border: solid 2px #ccc; cursor: pointer; }
.square .square-inner { display: inline-block; width: 20px; height: 20px; margin: 1px; }
.square.active { border: solid 2px black; }

.square-big .square-inner { width: 49px; height: 49px; }

.eraser { background-image: url('../eraser.png'); }
.color-sampler { background-image: url('../pipette.png'); }
.undo { background-image: url('../undo.png'); }
.fill { background-image: url('../fill.png'); }

#gallery { margin-top: 1em; }
#gallery div { margin-bottom: 1em; }
#gallery .image {
  width: 200px;
  border: solid 1px black;
  margin: 0 .5em .5em 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#gallery .image.favorite {
  border: solid 1px gold;
}
#gallery .image.favorite i {
  position: absolute;
  top: 0;
  right: 0;
  color: gold;
}
#gallery .image img {
  width: 100%;
}

.controls td { vertical-align: top; }
.controls .buttons { margin-left: 1em; }

#submit,
#clear { min-height: 4em; cursor: pointer; width: 100%; }
#clear { color: red; }
#clear span { font-size: 3em; display: block; }
#current-color input { display: none; }

#draw {
  display: grid;
  grid-template-areas: "draw rightctrl"
    "ctrl ctrl";
  justify-content: start;
}
canvas { grid-area: draw; justify-self: start; }
.right-controls { grid-area: rightctrl; margin-left: 2em; }
.controls { grid-area: ctrl; justify-self: start; }


.sizes .square-inner { position: relative; }
.sizes .square-inner span {
  border-radius: 100%;
  background: black;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.size-1 .square-inner span { height: 1px; width: 1px; }
.size-2 .square-inner span { height: 2px; width: 2px; }
.size-5 .square-inner span { height: 4px; width: 4px; }
.size-10 .square-inner span { height: 7px; width: 7px; }
.size-30 .square-inner span { height: 10px; width: 10px; }
.size-60 .square-inner span { height: 15px; width: 15px; }
.size-100 .square-inner span { height: 20px; width: 20px; }
