canvas { border: solid 1px black; }
.colorpick { display: inline-block; width: 22px; height: 22px; padding: 1px; border: solid 2px transparent; cursor: pointer; }
.colorpick .color { display: inline-block; width: 20px; height: 20px; margin: 1px; }
.colorpick.active { border: solid 2px black; }
