:root {
  --bg-color: #2b2b2b;
  --main-color: #c1b19f;
  --link-color: #808db0;
  --link-hover-color: #c5cfeb;
  --highlight-color: #dd7e7e;
  --input-bg-color: #262523;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--main-color);
}

body { font-family:'Courier New', Courier, monospace; }

.place {
  color: black;
  background: rgba(255,255,255,.3);
  font-weight: bold;
  position: absolute;
  display: inline-block;
  margin: 10px;
  padding: 3px 5px;
  transform: translate(-50%, -50%);
}

.player { position: absolute; background: var(--input-bg-color); display: inline-block; margin: 10px; padding: 3px 5px; border: solid 1px black; }
.player .details { display: none; position: absolute; background: var(--input-bg-color); margin: 10px; padding: 3px 5px; border: solid 1px black; }
.player:hover .details { display: block; z-index: 1; }
.inventory { min-width: 200px; }
.inventory img { height: 16px; width: 16px; vertical-align: text-bottom; }
.log { position: absolute; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,.5); }
.map { background: url('/static/widgets/farm-game/assets/themap.png'); background-size: cover; width: 1124px; height: 757px; }
