html { height: 100%; }
body { margin: 0; height: 100%; }
#app { height: 100%; }

.emote-wall {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.emote-wall .emote {
  position: absolute;
}
