body {
  margin: 0;
  font-family: Roboto;
}
.avatar {
  position: relative;
}
.avatar .avatar-animation {
  position: absolute;
  left: 0;
  top: 0;
}
button {
  color: #444;
  font-family: Roboto;
  margin-right: .5em;
}
button.active {
  color: #000;
  font-weight: bold;
}
