.button {
  border-radius:4px;
  padding: 12px 10px;
  display: inline-block;
  text-align: center;
  user-select: none;
  box-shadow: $lightShadow;
  border: none;

  &:hover {
    background: #dddddd;
  }
  &:active {
    background: #aaaaaa;
  }

  &-primary {
    background: rgba(197,164,208,1);
    color: $buttonTextColor;
    &:hover {
      background: #D7B6D6;
    }
    &:active {
      background: #AF94CC;
    }
  }

  &-ok {
    box-shadow:3px 3px 1px rgba(145, 137, 141, 0.25);
    background-color:rgba(148, 133, 200, 1);
    color: $buttonTextColorOk;
    &:hover {
      background: #aea5ce;
    }
    &:active {
      background: #7a76b1;
    }
  }

  &-danger {
    background: $dangerBackground;
    color: $dangerForeground;
    &:hover {
      background: $dangerBackgroundHover;
      color: $dangerForegroundHover;
    }
    &:active {
      background: $dangerBackgroundActive;
      color: $dangerForegroundActive;
    }
  }
}

/* SEND BUTTON */
.send_button {
  position: relative;
  min-width: 170px;
}
.send_button svg {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: sub;
}
.send_button_text {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 28px;
  text-align: right;
}
