<html>
<head>
  <link rel="icon" href="/static/hyottoko.png" sizes="72x72" type="image/png"/>
  <title>{{ title }}</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-toasted@1.1.28/dist/vue-toasted.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
  <link rel="stylesheet" href="/static/pages/{{ page }}.css"/>
  <meta charset="utf-8"/>
</head>
<body>
<div id="outer_main">
  <div id="app"></div>
  <script type="module">
  import Page from "/static/pages/{{ page }}.js"
  Vue.use(Toasted, {
    duration: 3000,
    position: 'top-center',
    action : {
      text: 'Close',
      onClick : (e, toastObject) => {
          toastObject.goAway(0);
      }
    }
  })
  new Vue({
    el: '#app',
    render: (h) => h(Page, {
      props: {
        conf: {{ page_data|json_encode|raw }},
      }
    }),
  })
  </script>
</div>
</body>
</html>
