{% extends 'base.twig' %}
{% block page %}
  <ul>
    <li><a href="/commands/">Commands</a>
    <li><a href="/sr/player/">Song requests (player)</a>
    <li><a href="/logout">Logout</a>
  </ul>
{% endblock %}
