@import "font-awesome/css/font-awesome.min.css";

body {
  overflow: hidden;
  margin: 0;
  font-size: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.video-16-9 {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;


  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hide-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2;
  }
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;
  z-index: 2;
  background: rgb(53, 53, 53);
}

.progress-value {
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0
}

.item {
  padding: .5em 1em;
  border: solid 1px #444;
  display: grid;
  column-gap: 10px;
}

.player-hidden .player .video-16-9 {
  padding: 0;
  margin: 0;

  iframe {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 9999px;
  }
}

.without-thumbnails .item {
  grid-template-areas: "title title"
    "meta-left meta-right";
  grid-template-columns: auto 150px;
}

.with-thumbnails-left .item {
  grid-template-areas: "thumbnail title title"
    "thumbnail meta-left meta-right";
  grid-template-columns: max-content auto 150px;
}

.with-thumbnails-right .item {
  grid-template-areas: "title title thumbnail"
    "meta-left meta-right thumbnail";
  grid-template-columns: auto 150px max-content;
}

.thumbnail {
  width: 90px;
  grid-area: thumbnail;
}

.media-16-9 {
  position: relative;
  padding-bottom: 56.25%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  grid-area: title;
  margin-bottom: 5px;
}

.meta-left {
  grid-area: meta-left;
}

.meta-user:after {
  content: ','
}

.meta-timestamp:after {
  content: ','
}

.meta-right {
  text-align: right;
  grid-area: meta-right;

  .meta-plays {
    display: none;
  }
}

.playing {
  background: #cccccc;
}

.not-playing {
  background: #747474;
}

.title-dupl {
  display: none;
}

.meta-plays,
.vote-up,
.vote-down { margin-left: 5px; }
