/* some own stuff */
:root {
  --text-color: rgba(170,162,166,1);
  --light-shadow-color: rgba(0,0,0,.15);
  --light-shadow: 3px 3px 1px var(--light-shadow-color);
  --color-button-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.clickable {
  cursor: pointer;
}


/* exported from figma and adjusted */

* {
  box-sizing: border-box;
}
html {
  margin: 0;
}
body {
  margin: 0;
  font-size: 14px;
  background: url("./bgPlaceholderSmall.png");
  background-size: 58px 58px;
  font-family: Roboto;
}
.drawcast_body {
  width: 100%;
  padding: 25px 75px;
  position: relative;
}
.streamer_info {
  width: 634px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 5px 5px;
  position: relative;
  display: grid;
  grid-template-areas: "avatar message";
  grid-template-columns: min-content 554px;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.streamer_avatar {
  grid-area: avatar;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-top: 9px;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.12);
  background-size: contain;
}
.streamer_message {
  grid-area: message;
  background: rgba(250,242,245,1);
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: var(--light-shadow);
}
.streamer_message_inner {
  color: var(--text-color);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  text-align: left;
}
.draw_panel {
  width: fit-content;
  height: fit-content;
  background: rgba(255,255,255,1);
  padding: 20px 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 8px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.20);
  overflow: hidden;
}
.draw_panel_inner {
  display: grid;
  grid-template-areas: "top"
    "bottom";
}
.draw_panel_left {
  grid-area: left;
  position: relative;
  padding: 20px;
}
.draw_panel_right {
  grid-area: right;
  position: relative;
  padding: 15px 20px 20px 20px;
}

.draw_panel_top {
  grid-area: top;
  position: relative;
  padding: 20px 20px 10px 20px;

  display: grid;
  grid-template-areas: "top_left top_right";
  grid-template-columns: max-content auto;
  grid-gap: 40px;
}

.draw_panel_bottom {
  grid-area: bottom;
  position: relative;
  padding: 0 20px 20px 20px;

  display: grid;
  grid-template-areas: "bottom_left nothing bottom_right";
  grid-template-columns: max-content auto max-content;
  grid-gap: 10px;
}
.drawing_panel_bottom_right {
  grid-area: bottom_right;
  align-self: end;
}


.draw_canvas_holder_inner {
  border: 2px solid rgba(170,162,166,1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  display: inline-block;
}
.draw_colors {
  display: grid;
  width: fit-content;
  grid-template-areas: "current palette";
  grid-template-columns: min-content 270px;
  grid-gap: 4px;
  background: rgba(255,252,252,1);
  padding: 8px 9px 8px 8px; /* :P probably 8 everywhere is good ^^ */
  border-radius: 4px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}
.draw_colors_current {
  grid-area: current;
  width: 45px;
  height: 45px;
  background: rgba(255,255,255,1);
  position: relative;
  box-shadow: var(--color-button-shadow);
}
.draw_colors_current_inner {
  width: 45px;
  height: 45px;
  display: inline-block;
  position: relative;
  border: 1px solid rgb(83, 83, 83);
  border-radius: 4px;
}

.visual_background_title {
  padding: 7px 0 0 7px;
}
.visual_background_colors {
  padding: 7px;
}
.visual_background_button {
  display: inline-block;
  position: relative;
  margin: 0 3px 0 0;
  width: 32px;
  height: 32px;
  padding: 5px 4px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #C4BCC0;
  border-color: #C4BCC0;
}
.visual_background_button.is-current:after {
  position: absolute;
  display: block;
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 5px;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(165, 165, 165);
}
.bg-white {
  background: white;
}
.bg-transparent {
  background-image:
  linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
  linear-gradient(to right, black 50%, white 50%),
  linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 1.5em 1.5em;
}

.draw_colors_current_label {
  width: 45px;
  height: 45px;
  display: inline-block;
}
.draw_colors_current_label input[type="color"] { display: none; }
.draw_colors_current_icon {
  width: 16px;
  height: 16px;
  background: rgba(223,215,218,1);
  padding: 3px 3px;
  position: absolute;
  top: 28px;
  left: 28px;
  border-radius: 2px;
}
.draw_colors_current_icon svg {
  width: 12px;
  height: 12px;
}
.draw_colors_palette {
  grid-area: palette;
}
.palette_color {
  display: inline-block;
  border: 1px solid rgba(88,72,84,1);
  border-radius: 4px;
  width: 20px;
  height: 19px;
  margin: 0 5px 6px 0;
  box-shadow: var(--color-button-shadow);
}
.palette_color:nth-child(11n) {
  margin: 0 0 6px 0;
}
.palette_color:nth-child(n+12) {
  margin: 0 5px 0 0;
}
.palette_color:nth-child(11n):nth-child(n+12) {
  margin: 0;
}

.v355_1274 {
  height: 307px;
  background: url("../images/v355_1274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card {
  background: rgba(255,252,252,1);
  border-radius: 4px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}
.draw_tools_panel {
  color: var(--text-color);
  width: 186px;
  position: relative;
}
.draw_tools_tool_buttons {
  position: relative;
  padding: 7px 0 0 7px;
}
.draw_tools_tool_button {
  display: inline-block;
  position: relative;
  margin: 0 3px 0 0;
  width: 32px;
  height: 32px;
  padding: 5px 4px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  background: rgba(250,242,245,1);
  color: #C4BCC0;
  border-color: #C4BCC0;
}
.draw_tools_tool_button.is-current:after {
  position: absolute;
  display: block;
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 5px;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(165, 165, 165);
}
.draw_tools_tool_button:last-child {
  margin: 0;
}

.draw_tools_tool_button:not(.tool-current):hover {
  color: #DFD7DA;
  border-color: #DFD7DA;
}

/* CLEAR-BUTTON */
.draw_tools_tool_button.tool-clear {
  background: rgba(212,71,68,1);
  border-color: rgb(99, 29, 29);
  padding: 6px 6px;
  color: #FAF2F5;
}
.draw_tools_tool_button.tool-clear:hover {
  background: #F16358;
  border-color: #D44744;
  color: #FFFCFC;
}
.draw_tools_tool_button.tool-clear:active {
  background: #AA4557;
  border-color: #794658;
  color: #DFD7DA;
}

/* UNDO-BUTTON */
.draw_tools_tool_button.tool-undo {
  background: #BBBEE6;
  border-color: #969BD6;
  padding: 6px 6px;
  color: #FAF2F5;
}
.draw_tools_tool_button.tool-undo:hover {
  background: #CDD0EE;
  border-color: #BBBEE6;
  color: #FFFCFC;
}
.draw_tools_tool_button.tool-undo:active {
  background: #8489CE;
  border-color: #78649A;
  color: #DFD7DA;
}

.draw_tools_tool_button svg {
  position: absolute;
}
.draw_tools_tool_button.tool-pen svg {
  width: 19px;
  height: 25px;
  top: 3px;
  left: 5px;
}
.draw_tools_tool_button.tool-eraser svg {
  width: 24px;
  height: 23px;
  left: 4px;
  top: 4px;
}
.draw_tools_tool_button.tool-eyedropper svg {
  width: 21px;
  height: 23px;
  top: 3px;
  left: 5px;
}
.draw_tools_tool_button.tool-undo svg {
  width: 24px;
  height: 23px;
  top: 3px;
  left: 3px;
}
.draw_tools_tool_button.tool-clear svg {
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
}

.size_slider {
  width: 186px;
  height: 34px;
  padding: 5px 5px;
  position: relative;
}
.v355_1289 {
  width: 20px;
  height: 20px;
  background: url("../images/v355_1289.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  position: absolute;
  top: 7px;
  left: 12px;
  overflow: hidden;
}
.v355_1290 {
  width: 4px;
  height: 4px;
  background: rgba(74,67,71,1);
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
}
.v355_1291 {
  width: 110px;
  height: 24px;
  padding: 10px 10px;
  position: absolute;
  top: 6px;
  left: 35px;
}
.v355_1291 input {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.v355_1292 {
  width: 110px;
  height: 6px;
  background: rgba(223,215,218,1);
  position: absolute;
  top: 9px;
  left: 0px;
}
.v355_1293 {
  width: 15px;
  height: 15px;
  background: rgba(170,162,166,1);
  position: absolute;
  top: 4px;
  left: 58px;
}
.v355_1294 {
  width: 20px;
  height: 20px;
  padding: 1px 1px;
  position: absolute;
  top: 7px;
  right: 12px;
  overflow: hidden;
}
.v355_1295 {
  width: 18px;
  height: 18px;
  background: rgba(74,67,71,1);
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
}
.hotkey-help {
  width: 186px;
  margin-top: 20px;
  padding-left: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.hotkey-help-title {
  color: rgba(145,137,141,1);
  font-weight: Bold;
  font-size: 20px;
}
.hotkey-help-item {
  color: var(--text-color);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
}
.drawings-panel {
  width: fit-content;
  margin: 20px auto 0;
  background: rgba(255,252,252,1);
  padding: 10px 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}
.drawings_panel_title {
  background: rgba(250,242,245,1);
  padding: 15px 15px;
}
.drawings_panel_title_inner {
  color: var(--text-color);
  font-weight: Bold;
  font-size: 28px;
}

.drawing_panel_drawings {
  padding: 7px 15px;

  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.drawing_panel_drawings .image {
  height: 190px;
  display: inline-block;
  box-shadow: var(--light-shadow);
}
.drawing_panel_drawings .dotdotdot {
  background-image: url("HyottokoDotDotDot.svg");
  height: 190px;
  width: 190px;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
}
.drawcast_footer {
  font-family: Roboto;
  font-weight: Light;
  font-size: 14px;
  width: 100%;
  height: 66px;
  background: rgba(244,245,253,1);
  padding: 25px 25px;
  display: grid;
  grid-template-areas: "footer_left footer_right";
}
.drawcast_footer_left {
  grid-area: "footer_left";
  justify-self: left;
}
.drawcast_footer_right {
  grid-area: "footer_right";
  justify-self: right;
}

/* BUTTON */
.button {

}


/* BUTTON-PRIMARY */
.button-primary {
  background: rgba(197,164,208,1);
  color: rgba(255,252,252,1);
  box-shadow: var(--light-shadow);
}
.button-primary:hover {
  background: #D7B6D6;
}
.button-primary:active {
  background: #AF94CC;
}


/* SEND BUTTON */
.send_button {
  border-radius: 4px;
  padding: 10px 10px;
  position: relative;
  min-width: 170px;
  text-align: center;
  user-select: none;
}
.send_button svg {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: sub;
}
.send_button_text {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 28px;
  text-align: right;
}

/* SLIDER */
/*
BG:    #dfd7da
THUMB: #aaa2a6
*/

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: 0;
  background: #aaa2a6;
  cursor: pointer;
  margin-top: -5px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: 0;
  background: #aaa2a6;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: 0;
  background: #aaa2a6;
  cursor: pointer;
}




input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #dfd7da;
  border-radius: 6px;
  margin-top: 6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dfd7da;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #dfd7da;
  border-radius: 6px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #dfd7da;
  border-radius: 6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #dfd7da;
}
input[type=range]::-ms-fill-upper {
  background: #dfd7da;
  border-radius: 6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #dfd7da;
}
