@import "bulma/css/bulma.css";
@import "font-awesome/css/font-awesome.min.css";

:root {
  --main-color: #363636;
  --main-background-color: #fff;

  --link-color: #808db0;
  --link-hover-color: #c5cfeb;
  --highlight-color: #dd7e7e;

  --border-color: black;
  --border-radius: 4px;

  --button-border-radius: var(--border-radius);
}


code {
  white-space: pre;
  max-width: 30vw;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
body { margin: 0; }

/* * { vertical-align: text-bottom; } */
.fa { vertical-align: middle; }

a { color: var(--link-color); text-decoration: none; }
a:hover { color: var(--link-hover-color); }

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40vh;
}

.player { display: inline-block; }

.spacerow { margin-bottom: 5px; }
.spacerow .spacelabel { display: inline-block; width: 120px; }
.spacerow .spaceinput { display: inline-block; width: 200px; }

.flip-horizontal { transform: scaleX(-1); }

.video-16-9 {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-16-9 iframe, .video-16-9 object, .video-16-9 embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-16-9 .hidevideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 2;
}

#actionbar {
  background: var(--main-background-color);
  flex-wrap: wrap;
}
#actionbar > *:not(:last-child) {
  margin-bottom: 0;
}

body {
  color: var(--main-color);
  font-size: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#top {
  position: sticky;
  box-shadow: 0 0 3px black;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#top > div {
  display: flex;
}

#main { margin-bottom: 10em; padding: .5em; }

#player { margin-bottom: .5em; }

.media-holder {
  border-radius: 4px;
  color: var(--main-color);
  padding: 6px 10px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
}

.media-holder-inline {
  display: flex;
  align-items:center;
  padding: 0;
  border: 0;
}

.media-holder-inline .responsive-image {
  border: solid 1px #dbdbdb;
}

.modal .table {
  width: 100%;
}

input[type="color"] { min-width: 100px; }
