@import "bulma/css/bulma.css";
@import "style.css";

body {
  color: var(--main-color);
  font-size: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#top {
  position: sticky;
  box-shadow: 0 0 3px black;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#top > div {
  display: flex;
}

#navbar { line-height: 32px; }
#navbar .logo { margin-right: 1em; }
#navbar a { border-bottom: solid 3px; }

#top ul.items { list-style: none; margin: 0; padding: 0; }
#top ul.items li { display: inline-block; margin-right: 1em; float: left; }
#top ul.items li:last-child { margin-right: 0; }

#main { margin-bottom: 10em; padding: .5em; }

#player { margin-bottom: .5em; }

/* page: commands */
table tr td {
  transition: background-color 1000ms ease-in;
}
table tr.gain-attention td {
  background-color: #3f714b !important;
  transition: background-color 0ms;
}

@media only screen and (max-width: 920px) {
  #actionbar .btn .txt {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  #navbar .logo { display: none; }
  #navbar ul.items li.greeting { display: none; }
}

.media-holder {
  border-radius: 4px;
  color: var(--main-color);
  padding: 6px 10px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
}

.media-holder-inline {
  display: flex;
  align-items:center;
  padding: 0;
  border: 0;
}

.media-holder-inline .responsive-image {
  border: solid 1px #dbdbdb;
}

.positive {
  color: var(--pos-color);
}

.negative {
  color: var(--neg-color);
}

.timer-trigger {
  border-radius: 4px;
  color: var(--main-color);
  padding: 6px 14px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
  position: relative;
}
.timer-trigger label {
  line-height: 2;
}
.timer-trigger > .control:first-child {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
}
.timer-trigger .columns {
  margin-top: -.25rem;
  margin-right: -.25rem;
  margin-top: -.25rem;
  margin-bottom: -.25rem;
}
.timer-trigger .column {
  padding: .25rem;
}

.modal .table {
  width: 100%;
}

.textarea-holder {
  position: relative;
  padding-right: 2em;
}
.textarea-holder .button {
  position: absolute;
  right: -2px;
  top: 0;
}

.col-triggers {
  max-width: 200px;
}
.col-triggers > div:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: .25em;
  margin-bottom: .25em;
}
