@import "./vars.scss";

// https://fontawesome.com/v4/icons/
@import "font-awesome/css/font-awesome.min.css";

html {
  height: 100%
}

body {
  min-height: 100%;
  margin: 0;
}

code {
  white-space: pre;
  max-width: 30vw;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

/* * { vertical-align: text-bottom; } */
.fa {
  vertical-align: middle;
}

a {
  color: $link_color;
  text-decoration: none;

  &:hover {
    color: $link_hover_color;
  }
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40vh;
}

.player {
  display: inline-block;
}

.spacerow {
  margin-bottom: 5px;

  .spacelabel {
    display: inline-block;
    width: 120px;
  }

  .spaceinput {
    display: inline-block;
    width: 200px;
  }
}

.flip-horizontal {
  transform: scaleX(-1);
}

.video-16-9 {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hidevideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2;
  }
}

#actionbar {
  background: #fff;
  flex-wrap: wrap;

  >*:not(:last-child) {
    margin-bottom: 0;
  }
}

body {
  color: $main_color;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#top {
  position: sticky;
  box-shadow: 0 0 3px black;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  >div {
    display: flex;
  }
}

#main {
  padding: .5em;
  padding-bottom: 10em;
}

#player {
  margin-bottom: .5em;
}

.media-holder {
  border-radius: $radius;
  color: $main_color;
  padding: 6px 10px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
}

.media-holder-inline {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;

  .responsive-image {
    border: solid 1px #dbdbdb;
  }
}

.modal .table {
  width: 100%;
}

input[type="number"] {
  min-width: 70px;
}

input[type="color"] {
  min-width: 100px;
}

.number-input {
  width: 100px;
  display: inline-block;
}

.macro-select {
  .table-holder {
    max-height: 300px;
    overflow-y: scroll;
    overscroll-behavior: contain;

    code {
      white-space: normal;
    }
  }
}

.modal-card-body {
  padding: 0;
}

.modal-card-body .dropdown-content {
  max-height: 300px;
  overflow: auto;
  overscroll-behavior: contain;
}

html.darkmode {
  filter: invert(86%) hue-rotate(180deg) brightness(105%) contrast(105%);
  background: white;

  body {
    background: white;
  }

  /* Image fix */
  span[role="img"] {
    filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(105%);
  }

  img,
  svg,
  iframe,
  .emoji-common-emoji-sprite {
    filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(105%);
  }

  .responsive-image {
    filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(105%);
  }

  div[style^="background-image:"] {
    filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(105%);
  }

  /* Fix scroll background problems */
  [data-testid="Content"]>div:first-child {
    background: white;
  }
}

.button.is-twitch {
  background: $twitch_color_primary;
  color: white;

  &:hover {
    background: darken($twitch_color_primary, 5);
  }
}

ul.list {
  padding-left: 2em;
  li {
    list-style: disc;
  }
}

.navbar-item.is-active {
  font-weight: bold;
}

.module-box {
  table {
    background: transparent;

    td:nth-child(1) {
      width: 150px;
    }
    td:nth-child(2) {
      width: 150px;
    }
  }
}

.widget-actions {
   display: flex;
}

.repaired-navbar {
  .navbar-menu {
    overflow: hidden;
    flex-shrink: 1;
  }

  .navbar-start {
    overflow-x: auto;
  }

  .navbar-end {
    flex: 0 0 auto;
    display: flex;
  }
}
