$body-size: 14px !default; // makes the base font 14px (default is 16px)

@import "bulma/bulma.sass";

$main_color: #363636;
$link_color: #808db0;
$slider_color: #808db0;

$link_hover_color: $turquoise;
