[
  {
    "user": "___", // backend login
    "pass": "___", // backend pass (sorry, clear text :P)
    "tmi": {
      "help": "see: https://dev.twitch.tv/docs/irc/#building-the-bot",
      "identity": {
        "username": "", // bot user
        "password": "", // bot pass
        "client_id": "" // bot client id
      },
      "channels": [
        "robyottoko" // channels where bot should connect
      ],
      "connection": {
        "reconnect": true
      }
    }
  }
]

