@import "style.css";

#top {
  box-shadow: 0 0 3px black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#top > div {
  padding: 0 1em 1em 1em;
  display: flex;
  background: #242424;
  color: var(--highlight-color);
}
#top > div:first-child {
  padding: 1em;
}

#navbar { line-height: 32px; }
#navbar .logo { margin-right: 1em; }
#navbar a { border-bottom: solid 3px; }

#top ul.items { list-style: none; margin: 0; padding: 0; }
#top ul.items li { display: inline-block; margin-left: 1em; }
#top ul.items li:first-child { margin-left: 0; }

#main { margin-bottom: 5em; }

/* page: commands */
table tr td {
  transition: background-color 1000ms ease-in;
}
table tr.new-item td {
  background-color: #3f714b !important;
  transition: background-color 0ms;
}

/* page: sr */
#controls {
  position: fixed;
  bottom: 0;
  height: auto;
}
#controls ul.items { list-style: none; margin: 0; padding: 0; }
#controls ul.items li { display: inline-block; margin-left: 1em; }
#controls ul.items li:first-child { margin-left: 0; }

#controls .btn {
  margin: 4px;
}
