const hostname = 'localhost'

module.exports = {
  http: {
    hostname: hostname,
    port: 1337
  },
  ws: {
    hostname: hostname,
    port: 1338,
    connectstring: `ws://${hostname}:1338/ws`
  },
  modules: {
    sr: {
      google: {
        api_key: '' // google api key :)
      },
    }
  }
}
