import { fileURLToPath } from 'url'
import { dirname } from 'path'

const __filename = fileURLToPath(import.meta.url)
const __dirname = dirname(__filename)

export default {
  secret: 'HLBD^@gL*wvoEn02yJ7h+%',
  log: {
    level: 'info',
  },
  twitch: {
    eventSub: {
      transport: {
        method: 'webhook',
        // launch `ngrok http http://localhost:1337` (according to
        // config of http below) and then fill the address from ngrok:
        callback: 'https://c45bf59aed34.ngrok.io/twitch/event-sub/',
        secret: 's3cRe7_blabla_superduper',
      },
    },
    // default chat bot identity for users that dont have their own bot
    tmi: {
      identity: {
        client_id: '',
        client_secret: '',
        username: '',
        password: '',
      },
    },
  },
  mail: {
    sendinblue_api_key: 'some_api_key',
  },
  http: {
    hostname: 'localhost',
    port: 1337,
    url: `http://localhost:1337`,
  },
  ws: {
    hostname: 'localhost',
    port: 1338,
    // if a proxy is used infront of the bot to make it use ssl,
    // the connect string needs to be adjusted from ws to wss
    connectstring: `ws://localhost:1338/ws`,
  },
  db: {
    file: __dirname + '/../db/database.sqlite',
    patchesDir: __dirname + '/../db/patches',
  },
  modules: {
    // Song request module
    sr: {
      google: {
        api_key: '' // google api key :)
      },
    },
    // Speech to text module
    speechToText: {
      google: {
        // see https://qiita.com/tanabee/items/c79c5c28ba0537112922
        scriptId: '',
      },
    },
  },
}
